@use './vars' as *

*, 
*::after,
*::before 
    box-sizing: border-box

body
    margin: 0
    padding: $gutter
    font-family: $font
    color: $color
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    
a
    color: inherit
    text-decoration: inherit